{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Les gâteaux de la madre{% endblock %}

{% block content %}
<h1 class="h1 mb-3 font-weight-normal">Ajouter une adresse </h1>
<a href="" class ="btn btn-dark btn-sm">Modifier une adresse</a>
<a href="" class ="btn btn-dark btn-sm">Supprimer une adresse</a>
<a href="{{path('app_account_address')}} " class ="btn btn-dark btn-sm" disabled>Retour</a>
<hr>

{{form(form)}}

{% endblock %}