{% extends 'base.html.twig' %}
{% block title %}Modifier mot de passe - Les gâteaux de la madre{% endblock %}
{% block content %}
<a href="{{path('app_account')}}">Retour à mon compte</a>

{{ form(form) }}

{% endblock %}