{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Les gâteaux de la madre{% endblock %}

{% block content %}
<h1 class="h1 mb-3 font-weight-normal">Ma commande</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <h5 class="h5 mb-3 font-weight-normal">Récapitulatif</h1>
    </div>
    <div class="col-md-6">
        <h5 class="h5 mb-3 font-weight-normal">Choisir mon adresse de livraison</h5>
        <h5 class="h5 mb-3 font-weight-normal">Choisir mon transporteur</h5>
    </div>
</div>
{% endblock %}
